html, body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	background: #1a1a1e;
}

a {
	color: #00aff4;
}

a:hover {
	color: #00aff4;
	text-decoration: underline;
}

.table td, .table th {
	border-color: #2c2c30;
}

.green {
	background-color: #2f834a;
}

.yellow {
	background-color: #6e5b0f;
}

.yellow a {
	color: #99e2ff
}

.red {
	background-color: #a82426;
}

.gray {
	background-color: #222327;
}

.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

footer {
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;

	a {
		font-weight: 500;
	}
}

#title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

#title,
.description {
	text-align: center;
}

.logo {
	height: 1em;
}

.table thead th {
	color: white;
	font-weight: 500;
	text-align: center !important;
	font-size: 14px;
	padding: 0.5em;
}

.table,
tr> :first-child {
	background: #121214;
}

.fw {
	width: 100%;
}

@media (max-width: 960px) {
	#title {
		font-size: 3rem;
	}
}

h2 a {
	color: white;
}

tr> :first-child {
	position: sticky;
	left: 0;
}

tr> :first-child:after,
tr> :first-child:before {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
}

tr> :first-child:before {
	left: -0.6px;
	border-left: 1px solid #2c2c30;
}

tr> :first-child:after {
	right: -1px;
	border-right: 1px solid #2c2c30;
}
